.generalContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 2rem;
}
.botContainer{
    height: 30%;
    width: 100%;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    justify-content: center;
}
.chatContainer{
    height: 70%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.chatbotImageContainer{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: grey;
}
.chatbotImage{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.iconsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatContainer{
    display: grid;
    grid-template-rows: 92% 8%;
}
.inputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(214, 214, 214);
}
.input{
    width: 80%;
    background-color: rgb(214, 214, 214);
    padding-left: .5rem;
}
.input:focus{
    outline: none;
}