.mainContainer{
    height: 100%;
    color: black
}
.contentContainer{
    display: flex;
    flex-direction: column;
    height: 15rem !important;
    overflow-y: scroll;
    gap: .5rem;
}

.headerText{
    color: black;
    font-size: 18px;
    font-weight: 500;
}
