.customizationContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}
.formContainer{
    /* style={{display: 'flex', flexDirection: 'column', gap: '2rem', padding: '2rem'}} */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}
.inputContainer{
        display: flex;
        flex-direction: column;
        gap: .8rem;
}
    .submitButton{
        /* style={{backgroundColor: 'black', color: 'white', padding: '.7rem'}} */
        background-color: black;
        color: white;
        padding: .5rem 1rem;
    }

    /* /// customization preview container */
    .customizationPreview{
        background-color: rgb(238, 238, 238);
        display: flex;
        justify-content: center;
        align-items: center;
    }